

<ion-content>

  <div class="padding">
    <div class="logo">
      <ion-icon color="light" name="contact"></ion-icon>
    </div>

    <ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline">Connexion</ion-button>
    <ion-button  color="light" expand="block" shape="round" fill="outline">Inscription</ion-button>

  </div>

</ion-content>
